/**
 * Created by sunchengbin on 16/3/9.
 * 项目中通用的东西
 */
body, button, input, select,option,td, textarea /* for ie */ {
  font: 'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  @include fontDpr(12px);
  color: $txt-color;
}
.fl{
  float:left;
}
.fr{
  float:right;
}
img{
  width: 100%;
  vertical-align: middle;
}
.block{
  display: block;
}
.clearfix:after {
  content: '\20';
  display: block;
  height: 0;
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.lazy{
  height: 0;
  padding-top: 100%;
  background-repeat: no-repeat;
  background-color: $header-bg-color;
  background-size: contain;
}
